.container .img {
    width: 300px;
    height: 300px;
}

.container > h1{
    float: right;
    color: green;
    background-color: black;
    width: 350px;
}
.container {
    /*display: flex;
    align-items: baseline;
    align-content: space-between;*/
}

.container > a {
    display: inline-block;
    margin: 0 .5rem;
    vertical-align: middle;
    width: 350px;
    max-height: auto;
}

.peliculas-destacadas {

    color: green;
    background-color: black;
    width: 350px;
    padding: 1rem;
    margin-top: auto;
}